body{
    margin: 20px;
    border: 0px;
    font-family: 'Inter', sans-serif ;

}
h1{
    font-style:Bold;
    color: #4D4D4D;
}
h1 span{
    color: #43A046;
}

header{
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: space-around;
    
}

.header_logo{
    display: flex;
    gap: 20px;
}
.header_logo img{
    width: 155px;
    height: 25px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
a{
    text-decoration: none;
    justify-content: center;
    color: #263238;
    
    
}
.header_buttons{
    display: flex;
    gap: 20px;

}
.button1{
    background-color:white;
    color: #43A046;;

}

button{
    height: 40px;
    width: 70px;
    background-color: #43A046;
    border-radius: 5px;
    border: none;
    color: aliceblue;
}
main{
    display: grid;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 50px;
    padding: 30px;
}
.section_1{
    display: grid;
    grid-template-rows: 6fr 1fr;
    justify-items: center;
}
.section_1_1{
    
    display: flex;
    flex-direction: row;
    width: 1440px;
    justify-content: space-around;
    gap: 30px;
}

.article_1{
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
}

.article_2{
    display: flex;
    justify-items: center;

    
}

.section_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.section_2_navbar{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
}

.section_3{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section_3_1{
    display: flex;
    width: 900px;
    gap:20px;
    justify-content: space-between;
    text-align: center;
}

.section_4{
    display: flex;
    flex-direction: row;
    width: 1440px;
    justify-content: space-around;
}
.section_4_article_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 840px;

}
.section_4_article_2{
    display: flex;
    flex-direction: row;
    width: 600px;
    align-items: center;
    justify-content:center;
}
.section_4_button{
    height: 40px;
    width: 120px;
    background-color: #43A046;
    border-radius: 5px;
    border: none;
    color: aliceblue;

}

.section_5{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section_5_1{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.section_5_1_article_1{
    display: flex;
    height: auto;
    justify-content: center;
}

.section_5_1_article_1_div_1{
    display: flex;
    width: 300px;
    justify-content: center;
    gap:10px;
}
.section_5_1_article_1_div_1_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 2px;
}
.section_5_1_article_1_div_2{
    display: flex;
    width: 300px;
    gap:10px;
    justify-content: center;
}
.section_5_1_article_1_div_2_1{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.section_5_1_article_2{
    display: flex;
    height: auto;
    justify-content: center;
}

.section_5_1_article_2_div_1{
    display: flex;
    width: 300px;
    justify-content: center;
    gap:10px;
}
.section_5_1_article_2_div_1_1{
    display: flex;
    gap: 2px;
    flex-direction: column;
}
.section_5_1_article_2_div_2{
    display: flex;
    width: 300px;
    justify-content: center;
    gap:10px;

}
.section_5_1_article_2_div_2_1{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.section_5_1_article_2_div_2_2{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.section_6{
    display: flex;
    flex-direction: row;
    width: 1440px;
    margin-top: 50px;
    justify-content: space-around;
    align-items: start;
}

.section_6_article_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 840px;

}
.section_6_article_2{
    display: flex;
    flex-direction: column;
    width: 900px;
    align-items: start;
    justify-content:start;
}
.section_6_button{
    height: 40px;
    width: 120px;
    background-color: #43A046;
    border-radius: 5px;
    border: none;
    color: aliceblue;

}

.section_7{
    display: flex;
    flex-direction: row;
    width: 1440px;
    margin-top: 50px;
    justify-content: space-around;
    align-items: start;
}

.section_7_article_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 640px;

}
.section_7_article_2{
    display: flex;
    flex-direction: column;
    width: 1000px;
    align-items: start;
    justify-content:start;
}

.section_7_article_3{
    display: flex;
    gap: 20px;
}
h4{
    color: #43A046;
}
.section_7_article_3 h4{
    width: 240px;

}

.section_8{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.section_8_1_banner_1{
    background: url(./assets/image\ 18.svg);
    width: 322px;
    height: 320px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.section_8_1_banner_2{
    background: url(./assets/image\ 19.svg);
    width: 322px;
    height: 320px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.section_8_1_banner_3{
    background: url(./assets/image\ 20.svg);
    width: 322px;
    height: 320px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    
}
.section_8_1{
    display: flex;
    width: 100%;
    gap:20px;
    justify-content: space-around;
    justify-items: end;
    text-align: center;
}

.section_8_1_div{
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 245, 245);
    width: 240px;
    border-radius: 20px;
    margin-top: 200px;
    margin-left: 50px;

}

.section_9{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4D4D4D;
    height: 30vh;
    color: aliceblue;
}

.footer_section_1{
    display: flex;
    flex-direction: column;

}
.footer_section_2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

